# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.env
eclipse
run
runs
run-data
repo

# datagen
src/generated/resources/.cache/

# testing stuff
src/main/resources/data/mi_tweaks/recipe/test.json